---
- hosts: all
  collections:
    - containers.podman
  tasks:

  - name: create user account with access to sudo
    user:
      name: "oracle"
      comment: Ansible created user
      groups: wheel
      append: yes

  - name: set authorized key for user using local public key file
    authorized_key:
      user: "oracle"
      state: present
      key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/id_rsa.pub') }}"

  # Steps for adding packages
  - name: install additional packages
    dnf:
      name:
        - httpd
        - git
        - vsftpd
      state: latest

  - name: install podman
    dnf:
      name: '@container-tools:ol8'
      state: present
    become: yes

  - name: pull oraclelinux:8 from GitHub
    podman_image:
      name: ghcr.io/oracle/oraclelinux:8

  - name: ensure dest directory exists
    file:
      path: "/u01/app/nginx/"
      state: directory
      owner: "oracle"
      group: "oracle"
      mode: '0755'

  - name: create empty file
    file:
      path: "/u01/app/nginx/index.html"
      state: touch
      mode: '0755'
      owner: "oracle"
      group: "oracle"

  - name: create index.html
    copy:
      dest: "/u01/app/nginx/index.html"
      content: |
        Hello! Welcome to nginx container.

  - name: run image
    podman_container:
      name: my-ol8
      image: ghcr.io/oracle/oraclelinux8-nginx:1.18
      state: started
      detach: yes
      expose:
        - '80'
        - '443'
      publish:
        - '8080:80'
      volume: "/u01/app/nginx:/usr/share/nginx/html:Z"
